header {
  width: 327px;
  height: 38px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  margin-top: 32px;
}

h1 {
  color: var(--font-black);
}

.mode-select {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  color: var(--blue);
  border: none;
  background-color: var(--silver-white);
  cursor: pointer;
}

.mode-select:hover {
  color: var(--mode-hover);
}

.mode-select img {
  height: 20px;
  width: 20px;
}

.mode-select:hover img {
  filter: var(--hover-filter);
}

.mode-select p {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  text-align: right;
  letter-spacing: 2.5px;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 16px;
}

@media (min-width: 750px) {
  header {
    width: 573px;
    margin-top: 140px;
  }

  .content {
    gap: 24px;
  }
}

@media (min-width: 900px) {
  header {
    width: 730px;
    height: 69px;
  }
}
