:root {
  /* light_mode_colors */
  --light-blue: #0079ff;
  --hover-light-blue: #60abff;
  --grey: #697c9a;
  --blue: #4b6a9b;
  --dark-blue: #2b3442;
  --silver-white: #f6f8ff;
  --white: #fefefe;
  --font-black: #222731;
  /* dark_mode_colors */
  --dm-white: #ffffff;
  --dm-blue: #1e2a47;
  --dm-dark-blue: #141d2f;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Space Mono";
  font-style: normal;
  background-color: var(--silver-white);
  display: grid;
  place-items: center;
}

.card {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --silver-white: var(--dm-dark-blue);
    --white: var(--dm-blue);
    --font-black: var(--dm-white);
    --blue: var(--dm-white);
  }
} */
